.header {
    height: 50px;
    background-color: #8789d2;
    padding: 20px;
}

.header_content {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;

    color: #ffffff;
}