.addItemForm {
    display: flex;
    width: 250px;
    height: 100%;
    justify-content: space-between;
}

.addItemForm input {
    width: 200px;
    border-radius: 3px;
    border: 1px solid #60a085;
}

.addItemForm input:active {
    border: none;
}

.addItemForm button {
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background-color: #d1dece;
}

.addItemForm button:hover {
    background-color: #b4d0ae;
}
