.nav {
    width: 300px;
}

.section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.section:hover {
    background-color: #98cbb5;
}

.section button {
    border: none;
    background-color: transparent;
}

.section button:hover {
    cursor: pointer;
}

.nav ul {
    margin: 0;
}